<div class="form-section">
  <h3>
    Question
    <span class="rounded-5 bg-secondary px-2 text-white">
      {{ QuestionData.QuestionNumber }}</span
    >
    Information
  </h3>
  <div class="form-group">
    <label for="questionText">Question Text:</label>
    <textarea
      id="questionText"
      name="questionText"
      placeholder="Enter your question here..."
      [(ngModel)]="QuestionData.QuestionText"
      [value]="QuestionData.QuestionText"
      required
    ></textarea>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label for="difficulty">Difficulty Level:</label>
      <select id="difficulty" name="difficulty" required>
        <option value="">Select Difficulty</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </div>
    <div class="form-group">
      <label for="points">Points:</label>
      <input
        type="number"
        id="points"
        name="points"
        min="1"
        max="10"
        value="1"
        required
      />
    </div>
  </div>
</div>

<div class="form-section">
  <h3>Multiple Choice Options</h3>
  <div class="options-container">
    <div id="optionsContainer">
      <!-- Options will be dynamically added here -->
      <app-question-options
        *ngFor="let option of OptionData; let i = index"
        [optionFormData]="option"
        (OptionEvent)="onOptionEvent($event, i)"
        (RemoveOptionEvent)="onRemoveOption($event)"
      ></app-question-options>
    </div>
    <button class="btn btn-success" (click)="AddOption()">+ Add Option</button>
  </div>
  <div class="question-counter w-25 text-center mt-2">
    Options: <span id="optionCount">{{ OptionNumber }}</span>
  </div>
</div>
